<div class="messages-header">
	<h1> Start Chat with:</h1>
	<h4><%= image_tag(User.find(@slot.slot_creator_id).avatar, size: "80", class: "messages-logo") %> <%= User.find(@slot.slot_creator_id).bus_name %></h4>
	<h4>Job Location: <%= @slot.city %></h4>
	<h4>Date: <%= @slot.date.try(:strftime, "%a, %D") %></h4>
	<h4>Time: <%= @slot.start_time.try(:strftime, "%-l:%M%P") %> - <%= @slot.end_time.try(:strftime, "%-l:%M%P") %></h4>

	<% @messages.each do |all_messages| %>

		<% if (current_user.id === all_messages.slot_creator_id) || (current_user.id === all_messages.worker_id)  %>
			<p style="color:blue;"><%= all_messages.username %> : "<%= all_messages.body %>"</p>
			<span><%= all_messages.created_at%></span><br>

		<% else %>
			<p style="color:green;"><%= all_messages.username %> : "<%= all_messages.body %>"</p>
			<span><%= all_messages.created_at%></span><br>

		<% end %>
	<% end %>

	<%= render 'new_message_form' %>
</div>