<h2>Welcome, <%= @user.first_name %><%= link_to edit_user_registration_path do %>
  <span class="glyphicon glyphicon-pencil"></span> Edit Profile</h2>
<% end %>
<h4>Bussiness Name: <%= @user.bus_name %> </h4>
<h4>Bussiness Type: <%= @user.bus_type %> </h4>
<h4>Home City: <%= @user.bus_location %> </h4>
<h4>Description: <%= @user.description %> </h4>

<% @users.each do |people| %>
  <% if current_user.id === people.id %>
    <%= link_to image_tag("fb.png", size: "100"), people.facebook, target: :_blank %>
    <%= link_to image_tag("ld.png", size: "100"), people.linkedin, target: :_blank %>
    <%= link_to image_tag("ws.png", size: "100"), people.website, target: :_blank %><br>
  <% end %>
<% end %>  

<%= image_tag @user.avatar %><br>
<%= image_tag @user.background %>

<% if @skill.blank? %>
<h3>My Certifications <%= link_to "+ Add Certifications", new_skill_path %></h3>
<% else %>

<% @skill.each do |all| %>
<h3>My Certifications <%= link_to edit_skill_path(all.user_id) do %>
    <span class="glyphicon glyphicon-pencil"></span> Edit Certifications</h3>
  <% end %>
      <ul id="skills_list">
        <li><%= all.skill_1  %></li>
        <li><%= all.skill_2  %></li>
        <li><%= all.skill_3  %></li>
        <li><%= all.skill_4  %></li>
        <li><%= all.skill_5  %></li>
        <li><%= all.skill_6  %></li>
        <li><%= all.skill_7  %></li>
        <li><%= all.skill_8  %></li>
        <li><%= all.skill_9  %></li>
        <li><%= all.skill_10 %></li>
        <li><%= all.skill_11 %></li>
        <li><%= all.skill_12 %></li>
        <li><%= all.skill_13 %></li>
        <li><%= all.skill_14 %></li>
      </ul>
  <% end %>
<% end %>

<h3>My Time Slots</h3>
<table>
      <tr>
        <td> Logo </td>
        <td> Company Name </td>
        <td> Date Available </td>
        <td> Preferred Contact Method </td>
        <td> Time Available </td>
      </tr>
    <% @slot.each do |time_slot| %>
      <tr>
        <td><%= image_tag(User.find(time_slot.slot_creator_id).avatar, size: "100") %></td>
        <td><%= User.find(time_slot.slot_creator_id).bus_name %></td>
        <td><%= time_slot.date.strftime("%a, %D") %></td>
        <td><%= time_slot.contact %></td>
        <td><%= time_slot.start_time.strftime("%I:%M%p") %></td>
        <td><%= time_slot.end_time.strftime("%I:%M%p") %></td>
      <% if current_user.id === time_slot.slot_creator_id %>
        <td><%= link_to 'Update', edit_slot_path(time_slot) %></td>
        <td><%= link_to 'Delete', slot_path(time_slot), method: :delete %></td>
      <% end %>
      </tr>
  <% end %>
</table>
