<!DOCTYPE html>
<html>
<head>
	<title>Home | SSServices</title>
</head>
<body>

  <div id="myGallery" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000" >

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myGallery" data-slide-to="0" class="active"></li>
      <li data-target="#myGallery" data-slide-to="1"></li>
      <li data-target="#myGallery" data-slide-to="2"></li>
      <li data-target="#myGallery" data-slide-to="3"></li>
    </ol>    	

    <!-- Different Slides -->
    <div class="carousel-inner">
     <div class="item active">
      <%= image_tag("car1.jpg",
        alt: "Responsive image",
        class: "img-responsive") %>
        <div class="carousel-caption">
          <h1>We Help Ensure Structual Integrity</h1>
        </div>
      </div>

      <div class="item">
        <%= image_tag("car2.jpg",
          alt: "Responsive image",
          class: "img-responsive") %>
          <div class="carousel-caption">
            <h1>Required Certifications from Soils to Top-Out</h1>
          </div>
        </div>

        <div class="item">
          <%= image_tag("car3.jpeg",
            alt: "Responsive image",
            class: "img-responsive") %>
            <div class="carousel-caption">
              <h1>New Build & Remodel Construction Services</h1>
            </div>
          </div>

          <div class="item">
            <%= image_tag("car4.jpg",
              alt: "Responsive image",
              class: "img-responsive") %>
              <div class="carousel-caption">
                <h1>We Help Support Your Existing QA or QC Team</h1>
              </div>
            </div>

          </div> <!-- end inner carosol -->

          <!-- Begin and Previous Buttons -->
          <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left"></span></a> 

           <a class="right carousel-control" href="#myGallery" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right"></span>
           </a>
         </div> <!-- end myGallery -->

         <div class="icons">
          <div class="icons-text">  
            <h1>We Are Your</h1>
          </div>
          <div class="card-deck-wrapper"> 
            <div class="card-group">
             <div class="card card-1">
               <div class="card-block">
                <h2 class="card-title">Special</h2>
                <%= image_tag("special.png",
                 alt: "Card image cap",
                 class: "card-img-top",
                   size: "250") %>
                   <h2 class="card-title", style="color:#cc8500;">1.) Find A Time</h2>
                 </div>
               </div>
               <div class="card card-1">
                 <div class="card-block">
                   <h2 class="card-title">Inspection</h2>
                   <%= image_tag("inspection.png",
                     alt: "Card image cap",
                     class: "card-img-top",
                       size: "250") %>
                       <h2 class="card-title", style="color:#cc8500;">2.) Pick A Service</h2>
                     </div>
                   </div>
                   <div class="card card-1">
                     <div class="card-block">
                       <h2 class="card-title">Connection</h2>
                       <%= image_tag("connection.png",
                         alt: "Card image cap",
                         class: "card-img-top",
                           size: '250') %>
                           <h2 class="card-title", style="color:#cc8500;">3.) Send A Request</h2>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>

               <div class="info">
                <div class="info-text">
                 <h1>Let Us Help You</h1>
                 <div id="sessions-time-slots"></div>
                 <h3>Do you need a reliable inspector, or have a short or long term project?  We can help!  
                  <h3>Your time is important to us, and we are quick to respond.  Simply select a time below that works for you, select an inspection type and what city the job is located and somebody will contact you shortly to confirm details on the job..... it's that simple!</h3><br>
               </div>
             </div>

             <div id="sessions-time-slots">
               <h1>Request Service</h1>
               <h4>What time works best for you?  Don't see a time that works for you, click <%= link_to "here",profiles_path(:anchor => "profile-contact") %> to leave us a message. </h4>
                <div id="flash-message">
                  <%= render 'requests/flash' %>
                </div>
               <div class="table-scroll">
                 <table class="table table-hover">
                  <% if @slots.blank? %>
                  <h4>There are no time slots currently</h4> 
                  <% else %>
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"><h4>Location</h4></th>
                      <th scope="col"><h4>Date</h4></th>
                      <th scope="col"><h4>Time</h4></th>
                    </tr>
                  </thead>    
                  <% @slots.each do |time_slot| %>
                  <% if DateTime.now < time_slot.date && time_slot.date <= DateTime.now + 7%>
                  <tbody>
                    <tr>
                      <td><%= image_tag(User.find(time_slot.slot_creator_id).avatar, size: "75", class: "image-logo") %></td>
                      <td><h4><%= time_slot.city %><h4></td>
                      <td><h4><%= time_slot.date.try(:strftime, "%a, %D") %><h4></td>
                      <td><h4><%= time_slot.start_time.try(:strftime, "%-l:%M%P") %> - <%= time_slot.end_time.try(:strftime, "%-l:%M%P") %></h4></td>
                        <!-- Button trigger modal -->
                      <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_request_form">
                          Pick This Time
                        </button></td> 
                    </tr>
                  <% else %>
          
                  <% end %>      
                        <div class="modal fade" id="modal_request_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <div class="modal-title">
                                  <%= image_tag("logofinal.png", size: "175x50") %>  
                                </div>
                                <h4 class="modal-title text-center" id="exampleModalLongTitle">Request Details:</h4>
                                <h4 class="modal-title text-center" id="exampleModalLongTitle"><%= time_slot.date.try(:strftime, "%a, %D") %> | <%= time_slot.start_time.try(:strftime, "%-l:%M%P") %> - <%= time_slot.end_time.try(:strftime, "%-l:%M%P") %></h4>
                              </div>
                              <div class="modal-body">
                                <%= bootstrap_form_for @request, class: 'request_form', method: :post, url: slot_requests_path(time_slot) do |f| %>

                                <%= f.hidden_field :message, value: "Request Date: " + time_slot.date.try(:strftime, "%a, %D") + "Time: " + time_slot.start_time.try(:strftime, "%-l:%M%P") + "-" + time_slot.end_time.try(:strftime, "%-l:%M%P") %>

                                <%= f.text_field :name, required: true, placeholder: "Tell us your name" %>

                                <%= f.email_field :email, required: true, placeholder: "Tell us your email" %>

                                <%= f.text_field :telephone, required: true, placeholder: "Tell us the best number to reach you" %>

                                <%= f.select :type, options_for_select(request_options), required: true  %>

                                <%= f.hidden_field :nickname, hint: 'leave this field blank' %>


                                <%= f.submit 'Send Request', class: 'btn btn-default btn-lg' %>
                                <% end %><br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <% end %>
                        <% end %>
                      </table>
                    </div>
                  </div>

                </body>
                </html>