<%= bootstrap_form_for @skill do |f| %>

<h4>International Code Council (ICC)</h4>
	<div class="form-check">
		<%=f.check_box :skill_1, {checked: false}, "Structural Soils Special Inspector" %>
		<%=f.label :skill_1, "Structural Soils Special Inspector" %>
	</div>
	<%=f.check_box :skill_2, {checked: false}, "Reinforced Concrete" %>
	<%=f.label :skill_2, "Reinforced Concrete" %><br>

	<%=f.check_box :skill_3, {checked: false}, "Post-tensioned Concrete" %>
	<%=f.label :skill_3, "Post-tensioned Concrete" %><br>

	<%=f.check_box :skill_4, {checked: false}, "Structural Masonry" %>
	<%=f.label :skill_4, "Structural Masonry" %><br>

	<%=f.check_box :skill_5, {checked: false}, "Structural Steel & Bolting" %>
	<%=f.label :skill_5, "Structural Steel & Bolting" %><br>

	<%=f.check_box :skill_6, {checked: false}, "Structural Steel & Welding" %>
	<%=f.label :skill_6, "Structural Steel & Welding" %><br>

	<%=f.check_box :skill_7, {checked: false}, "Spray Applied Fire Resistive Material & Fire Proofing" %>
	<%=f.label :skill_7, "Spray Applied Fire Resistive Material & Fire Proofing" %><br>

<h4>American Welding Society (AWS)</h4>
	<%=f.check_box :skill_8, {checked: false}, "D1.1 Certified Welding Inspector" %>
	<%=f.label :skill_8, "D1.1 Certified Welding Inspector" %><br>

	<%=f.check_box :skill_9, {checked: false}, "D1.8 Certified Welding Inspector"  %>
	<%=f.label :skill_9, "D1.8 Certified Welding Inspector" %><br>

<h4>American Society of Non-Destructive Testing (ASNT)</h4>
	<%=f.check_box :skill_10, {checked: false}, "Visual Testing Level II" %>
	<%=f.label :skill_10, "Visual Testing Level II" %><br>

	<%=f.check_box :skill_11, {checked: false}, "Magnetic Particle Testing Level II" %>
	<%=f.label :skill_11, "Magnetic Particle Testing Level II" %><br>

	<%=f.check_box :skill_12, {checked: false}, "Dye Penetrant Testing Level II" %>
	<%=f.label :skill_12, "Dye Penetrant Testing Level II" %><br>

<h4>American Concrete Institute (ACI)</h4>
	<%=f.check_box :skill_13, {checked: false}, "Field Testing Technician Level I" %>
	<%=f.label :skill_13, "Field Testing Technician Level I" %><br>

<h4>Structure Scan GPR</h4>
	<%=f.check_box :skill_14, {checked: false}, "GSSI Structure Scan Mini" %>
	<%=f.label :skill_14, "GSSI Structure Scan Mini" %><br>

<h4>Seismic Hanger & Anchorage</h4>
	<%=f.check_box :skill_15, {checked: false}, "Load Testing" %>
	<%=f.label :skill_15, "Load Testing" %><br>			

<%= f.submit "Save Skills" %>

<% end %>