<h1>All My Skills</h1>

	<% @skills.each do |all| %>
	<% if current_user.id === all.user_id %>
	<h4>International Code Council (ICC)</h4>
		<%= all.skill_1 %>
		<%= all.skill_2 %>
		<%= all.skill_3 %>
		<%= all.skill_4 %>
		<%= all.skill_5 %>
		<%= all.skill_6 %>
		<%= all.skill_7 %>
	<h4>American Welding Society (AWS)</h4>
		<%= all.skill_8 %>
		<%= all.skill_9 %>
	<h4>American Society of Non-Destructive Testing (ASNT)</h4>
		<%= all.skill_10 %>
		<%= all.skill_11 %>
		<%= all.skill_12 %>
	<h4>American Concrete Institute (ACI)</h4>
		<%= all.skill_13 %>
	<h4>Structure Scan GPR</h4>
		<%= all.skill_14 %>
	<h4>Seismic Hanger & Anchorage</h4>
		<%= all.skill_15 %>
	<% end %>
<% end %>
