<h1>Here are <%= User.find(@skill.user_id).bus_name %>'s Certifications</h1>

<ul id="skills_list">
  <li><%= @skill.skill_1  %></li>
  <li><%= @skill.skill_2  %></li>
  <li><%= @skill.skill_3  %></li>
  <li><%= @skill.skill_4  %></li>
  <li><%= @skill.skill_5  %></li>
  <li><%= @skill.skill_6  %></li>
  <li><%= @skill.skill_7  %></li>
  <li><%= @skill.skill_8  %></li>
  <li><%= @skill.skill_9  %></li>
  <li><%= @skill.skill_10 %></li>
  <li><%= @skill.skill_11 %></li>
  <li><%= @skill.skill_12 %></li>
  <li><%= @skill.skill_13 %></li>
  <li><%= @skill.skill_14 %></li>
</ul>
