<%= bootstrap_form_for @request, class: 'contact_form', remote: :true do |f| %>
  <%= f.text_field :name, required: true, placeholder: "Tell me your name", class: 'contact_text' %>

  <%= f.email_field :email, required: true, placeholder: "Tell me your email" %>

  <%= f.select :type, options_for_select(request_options), required: true  %>

  <%= f.text_area :message, as: :text, placeholder: "Tell me a little about the project" %>

  <%= f.hidden_field :nickname, hint: 'leave this field blank' %>

  <%= f.submit 'Send Request', class: 'btn btn-default btn-lg' %>
<% end %><br>
<div id="flash-message">
  <%= render 'requests/flash' %>
</div>