<div class="images-header">
  <div class="images-body">
    <h1>Take A Look At Our Work</h1>
    <h5>Click any image to enlarge and discover more</h5>
  </div>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile1.jpg", alt: "placeholder image 1",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "0" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile2.jpg", alt: "placeholder image 2",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "1" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile3.jpg", alt: "placeholder image 3",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "2" }  %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile4.jpg", alt: "placeholder image 4",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "3" }%>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile6.jpg", alt: "placeholder image 5",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "4" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile7.jpg", alt: "placeholder image 6",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "5" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile8.jpg", alt: "placeholder image 7",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "6" }  %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile11.jpg", alt: "placeholder image 8",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "7" }%>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile12.jpg", alt: "placeholder image 9",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "8" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile13.jpg", alt: "placeholder image 10",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "9" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile14.jpg", alt: "placeholder image 11",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "10" }  %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile15.jpg", alt: "placeholder image 12",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "11" }%>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile16.jpg", alt: "placeholder image 13",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "12" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile17.jpg", alt: "placeholder image 14",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal" }),
                          "#myGallery", data: { slide_to: "13" } %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile19.jpg", alt: "placeholder image 15",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "14" }%>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= link_to image_tag("profile20.jpg", alt: "placeholder image 16",
                          class: "img-responsive",
                          data: { toggle: "modal", target: "#myModal"}),
                          "#myGallery", data: { slide_to: "15" }%>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <div class="text-center"><h4>On The Job</h4></div>
          </div>
    <div class="modal-body">
    <!--CAROUSEL CODE GOES HERE-->
    <div id="myGallery" class="carousel slide" data-interval="false">
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag("profile1.jpg",
                        alt: "Image description here",
                        class: "img-responsive") %>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
          <%= image_tag("profile2.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile3.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile4.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile6.jpg",
                        alt: "Image description here",
                        class: "img-responsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile7.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile8.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile11.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile12.jpg",
                        alt: "Image description here",
                        class: "img-responsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile13.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile14.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile15.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile16.jpg",
                        alt: "Image description here",
                        class: "img-responsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile17.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile19.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>
        <div class="item">
          <%= image_tag("profile20.jpg",
                        alt: "Image description here",
                        class: "img-respponsive") %>
        </div>

      </div><!--end carousel-inner-->
        <!-- Previous and Next buttons-->
        <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span></a> 

        <a class="right carousel-control" href="#myGallery" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- myGallery-->

    </div><!-- modal-body-->
        <div class="modal-footer">
        <div class="pull-left">
        </div>
          <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
      </div><!-- modal-footer-->
    </div><!-- modal-content-->
  </div><!-- modal-dialoge-->
</div><!-- myModal-->
</div>